
<select id = "hide">
    {% for key , value in table.items %}
        <option id="{{key}}"> {{value.1}}</div></option>
    {% endfor %}
</select>

        <div id = "city_name" onclick ="demof(this)" >Click</div>
        <div id ="case" ></div>
        <div id = "treating" ></div>
        <div id = "recovered" ></div>
        <div id = "deaths" ></div>
<script>
    function demof(obj){
        var list = "{{table}}";
        console.log(list);
        string = document.getElementsByTagName("div");
        string = string.replace("&#x27;","");
        console.log(string);
        <!-- console.log(document.getElementsByTagName("div")); -->
    }
</script>